<template>
  <div class="container">
    <div class="row">
      <!-- <ajax-loader v-show="$store.state.ajaxLoader===true" ref="ajaxLoader"></ajax-loader>  -->
      <div id="logoAsso" class="col-md-3 home">
        <img alt={{$store.state.infoAsso.descrLogo}} src="@/assets/logo-camber-min.png">
      </div>
      <div class="col-md-9 home">
        <h1>{{$store.state.infoAsso.nom}}</h1>
        <h5>{{$store.state.infoAsso.slogan}}</h5>
        <h5>{{$store.state.infoAsso.description}}</h5>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'Accueil',
}
</script>

<style scoped>
.row {
  min-height: 250px !important;
}
</style>
