<template>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Activités de {{$store.state.infoAsso.nom}}</h1>
        <FormAnimateur :state="$store.state.stateFormAnimateur"/>
        <FormActivite :state="$store.state.stateFormActivite"/>
        <div class="col-md-12">
          <button type="button" class="btn btn-dark btn-secondary" @click="this.addActivite()">Ajouter une activité</button>
          <button type="button" class="btn btn-dark btn-secondary" @click="this.$store.commit('setStateForm', 'animateur')">Ajouter un animateur</button>
        </div>
        <TableActivites/>
      </div>
    </div>
  </div>
</template>

<script>
import FormAnimateur from '@/components/FormAnimateur.vue'
import FormActivite from '@/components/FormActivite.vue'
import TableActivites from '@/components/TableActivites.vue'

export default {
  name: 'Activites',
  components: {
    FormAnimateur,
    FormActivite,
    TableActivites
  },
  methods: {
/*    // ------------ fonction affichage / masquage formulaire
    showForm (name) {
      this.$store.commit('setStateForm', name)
    }, */

    addActivite () {
      let tmpObj = {
        name: 'activite',
        content: {},
        mode: 'add'
      }
      this.$store.commit('setFormEc',tmpObj)
      this.$store.commit('setStateForm', 'activite')
    },
    testEntity () {
      console.log(this)
      this.$store.dispatch('getEntity','animateurs')
    }
  }
}
</script>
