<template>
  <div class="container">
    <div class="row">
      <!-- <ajax-loader v-show="$store.state.ajaxLoader===true" ref="ajaxLoader"></ajax-loader>  -->
      <div class="col-md-12">
        <h1>Adhérents de {{$store.state.infoAsso.nom}}</h1>
        <FormAdherent/>
        <div class="col-md-12">
          <button type="button" class="btn btn-dark btn-secondary" @click="this.addAdherent ()">Enregistrer un nouvel adhérent</button>
        </div>
        <TableAdherents/>
      </div>
    </div>
  </div>
</template>

<script>
import FormAdherent from '@/components/FormAdherent.vue'
import TableAdherents from '@/components/TableAdherents.vue'
import jsonAdherentModel from '@/store/adherent.json'

export default {
  name: 'Adherents',
  components: {
    FormAdherent,
    TableAdherents
  },
  data: function () {
    return {
      jsonAdherent: {}
    }
  },
  mounted: function () {
    //console.log(this)
    Object.assign(this.jsonAdherent, jsonAdherentModel)
    console.log(this.jsonAdherent)
  },
  methods: {
    addAdherent () {
      let tmpObj = {
        name: 'adherent',
        title: 'Ajouter adhérent',
        content: this.jsonAdherent,
        mode: 'add'
      }
      this.$store.commit('setFormEc',tmpObj)
      this.$store.dispatch('getEntity','activites')
      this.$store.commit('setStateForm', 'adherent')
    }
  }
}
</script>
