<template>
  <div class="container">
    <div class="row">
      <h1>Administration {{$store.state.infoAsso.nom}}</h1>
    </div>
    <div class="row">
      <FormAsso/>

      <form class="form-horizontal col-12" role="form" @submit.prevent="addSaison()">
        <div class="form-row">
          <h4>Saison</h4>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <p>Prévoir de stocker les données en BASE !</p>
            <div class="form-group row border d-flex justify-content-between">
              <label class="mx-auto">Saison en cours : </label>
              <input type="text" readonly size="9" v-model="$store.state.saisonEc" class="mx-auto">
            </div>
            <div class="form-group row border d-flex justify-content-between">
              <datepicker class="btn btn-secondary mx-auto" v-model="dateStartSaison" />
              <button type="submit" class="btn btn-secondary mx-auto">Démarrer la nouvelle saison</button>
            </div>
          </div>
        </div>
      </form>

      <form class="form-horizontal col-12" role="form">
        <div class="form-row">
          <h4>Association</h4>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <p>Prévoir de stocker les données en BASE !</p>
            <div class="form-group row border d-flex justify-content-between">
              <select id="asso" class="form-control col-7" title="Choisir une association" v-model="$store.state.infoAsso.nom" @click="chooseAsso()" disabled>
                <option v-for="(item,key) in listAssos" v-bind:key="key" v-bind:value="item">{{ item }}</option>
              </select>
              <button type="button" class="btn btn-secondary" @click="editAsso()">Éditer</button>
              <button type="button" class="btn btn-secondary" @click="addAsso()">Ajouter</button>
            </div>
          </div>
        </div>
      </form>

      <form class="form-horizontal col-12" role="form">
        <div class="form-row">
          <h4>Utilisateurs</h4>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <p>Prévoir de stocker les données en BASE !</p>
            <div class="form-group row border d-flex justify-content-between">
              <select id="user" class="form-control col-7" title="Choisir un utilisateur" v-model="$store.state.session.login" disabled>
                <option v-for="(item,key) in listUsers" v-bind:key="key" v-bind:value="item">{{ item }}</option>
              </select>
              <button type="button" class="btn btn-secondary" @click="editUser()">Éditer</button>
              <button type="button" class="btn btn-secondary" @click="addUser()">Ajouter</button>
            </div>
          </div>
        </div>
      </form>

    </div>
  </div>
</template>

<script>
import axios from 'axios'
import FormAsso from '@/components/FormAsso.vue'
//import FormNewUser from '@/components/FormNewUser.vue'
import Datepicker from 'vue3-datepicker'

export default {
  name: 'Admin',
  components: {
    FormAsso,
    //FormNewUser,
    Datepicker
  },
  data: function () {
    return {
      listAssos: ['Camber', 'TEST1', 'TEST2'],  // en base et utilisation du store !!!
      assoEc: '',
      listUsers: ['admin'],
      dateStartSaison: new Date()
    }
  },
  mounted () {
    console.log(this.$store.state.saisonEc)
    console.log(this.$store.state)
  },
  watch: {
    // à chaque fois que la valeur de l'input change, la fonction s'exécutera
    dateStartSaison: function () {
      console.log('Vérif date saisie')
    }
  },
  methods: {
    chooseAsso () {
      console.log('chooseAsso')
    },
    addAsso  () {
      console.log('addAsso')
      this.$store.commit('setStateForm', 'newAsso')
    },
    editAsso  () {
      console.log('editAsso')
    },
    addSaison () {
      console.log('addSaison')
      console.log(this.dateStartSaison)
      let dayStart = this.dateStartSaison.getDate()+'/'+this.dateStartSaison.getMonth()+'/'+this.dateStartSaison.getFullYear()
      alert('la nouvelle saison débutera le : '+dayStart)
    },
    async addUser () {
      console.log('addUser')
      alert('Prévoir formulaire !')
      this.$store.commit('setAjaxLoader', true)
      let tmpUser = {
        id: 'admin',
        nom: 'admin',
        prenom: 'admin',
        mail: 'assocamber@yahoo.fr',
        password: 'camber'
      }
      let response = await axios.post('http://localhost:3000/addUser', tmpUser, { headers: { 'x-access-token': this.$store.state.session.token }})
      if (response.status == 200) {
        this.$store.commit('setAjaxLoader', false)
        //console.log(response)
        for (let i = 0; i < response.data.length; i++) {
          this.saisons.push(response.data[i].id)
        }
      } else {
        console.log(response.error)
      }
    },
    editUser () {
      console.log('editUser')
      alert('Prévoir formulaire !')
    },
  },
}
</script>

<style scoped>
/*.row {
border: 1px black solid;
}*/
h4 {
  min-width: 20%;
}
</style>
