<template>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Animateurs</h1>
        <FormAnimateur/>
        <div class="col-md-12">
          <button type="button" class="btn btn-dark btn-secondary" @click="this.addAnimateur()">Ajouter un animateur</button>
        </div>
        <TableAnimateurs/>
      </div>
    </div>
  </div>
</template>

<script>
import FormAnimateur from '@/components/FormAnimateur.vue'
import TableAnimateurs from '@/components/TableAnimateurs.vue'

export default {
  name: 'Animateurs',
  components: {
    FormAnimateur,
    TableAnimateurs
  },
  methods: {
    addAnimateur () {
      let tmpObj = {
        name: 'animateur',
        content: {},
        mode: 'add'
      }
      this.$store.commit('setFormEc',tmpObj)
      this.$store.commit('setStateForm', 'animateur')
    }
  }
}
</script>
