<template>
  <div class="container">
    <div class="row">
      <!-- <ajax-loader v-show="$store.state.ajaxLoader===true" ref="ajaxLoader"></ajax-loader>  -->
      <div class="col-md-12">
        <h2>Page non trouvée, ERREUR 404</h2>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'Error',
}
</script>

<style>
  h2 {
    text-align: center !important;
  }
</style>
