<template>
  <div class="container">
    <div class="form-row">
      <form id="loginForm" class="form-horizontal needs-validation text-center col-md-12" @submit.prevent="login()">
        <div class="form-group col-md-4 offset-md-4">
          <h1>Connexion</h1>
          <input v-model="input.login" type="text" class="form-control w-80 mx-auto" placeholder="login" required>
          <div class="invalid-feedback">Veuillez compléter ce champ !</div>
          <input v-model="input.password" type="password" class="form-control w-80 mx-auto" placeholder="password" required>
          <div class="invalid-feedback">Veuillez compléter ce champ !</div>
          <button type="submit" class="btn btn-dark btn-lg">Connexion</button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'Login',
  data() {
    return {
      input: {
        login: "",
        password: ""
      }
    }
  },
  methods: {
    async login(e) {
      //console.log(e);
      if(this.input.login != "" && this.input.password != "") {
        let self = this
        let params = {
          login: self.input.login,
          password: self.input.password,
          saison: self.$store.state.saisonEc
        }
        self.$store.commit('setAjaxLoader', true)
        let response = await axios.post('http://localhost:3000/login/', params)
        if (response.status == 200) {
          //console.log(response);
          //console.log(response.data);
          if(response.data.login === self.input.login) {
            self.$store.commit('setAjaxLoader', false)
            self.$store.commit('setSession', response.data);
            self.$router.push('/');
            //console.log(self.$store.state.session)
          }
        } else {
          console.log(response.error)
          self.$store.commit('setAjaxLoader', false)
          alert('Connexion impossible !');
          self.$router.push('/login');
        }
      } else {
        //console.log("Vous devez renseigner un login et un mot de passe !");
        alert("Vous devez renseigner un login et un mot de passe !");
      }
    }
  }
}
</script>

<style scoped>
#login {
  width: auto;
  /* border: 1px solid #CCCCCC; */
  /* background-color: #FFFFFF; */
  margin: auto;
  padding: 20px;
  margin-top: 50px;
}
.btn {
  margin: 20px;
}
</style>
