<template>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Mail pour les adhérents de {{$store.state.infoAsso.nom}}</h1>
        <form @submit.prevent="sendMail()">
          <input type="email" id="email" name="email" class="destinataire" placeholder="Adresse mail" required>
          <!-- COMPOSANT AJOUT GROUPE / DESTINATAIRE / COPIE / COPIE CACHEE -->
          <input type="submit">
        </form>
        <ckeditor :editor="editor"></ckeditor>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import ClassicEditor from '@ckeditor/ckeditor5-build-classic'

export default {
  name: 'Mail',
  data() {
    return {
      editor: ClassicEditor,
      mailObj: {
        mailTo: [],
        mailCC: [],
        sujet: 'TEST envoi de mail',
        textHtml: '<h1>TEST<h1><p>TEST test</p>',
      }
    }
  },
  methods: {
    setMailObj () {
      let saisie =document.getElementsByClassName("destinataire")
      for (let i = 0; i < saisie.length; i++) {
        this.mailObj.mailTo.push(saisie[i].value)
      }
      //this.mailObj.textHtml = 'RIEN'
      //console.log(this.mailObj)
    },

    async sendMail () {
      let self = this
      self.setMailObj ()
      console.log(self.mailObj)
      self.$store.commit('setAjaxLoader', true)
      let response = await axios.post('http://localhost:3000/sendMail', self.mailObj, { headers: { 'x-access-token': this.$store.state.session.token }})
      if (response.status == 200) {
        console.log(response.data)
        self.$store.commit('setAjaxLoader', false)
        alert(response.data.msg)
      } else {
        console.log(response.error)
      }
    }
  }
}
</script>

<style scoped>
</style>
