<template>
  <div class="container">
    <div class="row">
      <!-- <ajax-loader v-show="$store.state.ajaxLoader===true" ref="ajaxLoader"></ajax-loader>  -->
      <div class="col-md-12">
        <h1>Syntèse {{$store.state.infoAsso.nom}}</h1>
        <TableSynthese/>
        <!-- <ChartSynthese/> -->
        <p>Page avec une synthèse graphique de l'activité de l'association !</p>
      </div>
    </div>
  </div>
</template>

<script>
//import ChartSynthese from '@/components/ChartSynthese.vue'
import TableSynthese from '@/components/TableSynthese.vue'

export default {
  name: 'Synthese',
  components: {
//  ChartSynthese,
    TableSynthese
  },
  //extends: Bar,
  mounted () {
    console.log('Synthese')
  }
}
</script>
