<template>
  <div class="ajax-loader" >
    <img src="@/assets/ajax-loader.gif" alt="loading...">
  </div>
</template>

<script>
export default {
  name: 'AjaxLoader',
}
</script>

<style>
.ajax-loader {
  position: fixed;
  z-index: 1000;
  left: 50%;
  top: 50%;
  margin-left: -100px;
  margin-top: -100px;
}
</style>
