<template>
  <div class="container">
    <header class="row text-center">
        <!-- <div class="col-xl-3 col-md-3 col-sm-4 col-xs-4"> -->
        <div class="col-2">
          <img :src="require('@/assets/logo_camberSoft.png')" alt="Camber" class="logo-min"/>
        </div>
        <!-- <div class="col-xl-3 col-md-3 col-sm-8 col-xs-8"> -->
        <div class="col-4">
          <h1>{{$store.state.infoAppli.nom}}</h1>
          <h5>{{$store.state.infoAppli.slogan}}</h5>
          <!-- <h5>{{$store.state.infoAppli.description}}</h5>  -->
        </div>
        <!-- <div class="col-xl-5 col-md-5 col-sm-9 col-xs-9"> -->
        <div class="col-4">
          <h1>{{$store.state.infoAsso.nom}}</h1>
          <h5>{{$store.state.infoAsso.slogan}}</h5>
          <h5>{{$store.state.infoAsso.description}}</h5>
        </div>
        <!-- <div class="col-xl-2 col-md-2 col-sm-3 col-xs-3"> -->
        <div class="col-2">
          <img :src="require('@/assets/logo-camber-min.png')" alt="Camber" class="logo-min"/>
          <div v-if="$store.state.session.token!==null">
            <span class="small-span">Bienvenue {{$store.state.session.login}}</span>
            <button type="button" class="btn btn-secondary btn-sm" v-on:click="logout()">Déconnexion</button>
          </div>
        </div>
    </header>
  </div>
</template>

<script>
export default {
  name: 'EnTete',
  methods: {
    logout: function () {
      this.$store.commit('setSession', null);
      this.$router.push('/login');
    }
  }
}
</script>

<style scoped>
.logo {
  max-width: 100px;
  max-height: 100px;
}
.logo-min {
  max-width: 75px;
  max-height: 75px;
}
.h1, h1 {
  font-size: 2rem;
}
.h4, h4 {
  font-size: 1.25rem;
}
.h5, h5 {
  font-size: 0.75rem;
}
h1 img {
  padding: 10px;
}
.small-span {
  white-space: nowrap;
}
</style>
