<template>
  <div class="container">
    <footer class="row">
      <div class="page-footer font-small blue mx-auto">
        <span >{{ infoAppli.copyright }} : <a href=" {{ infoAppli.href }} ">{{ infoAppli.textHref }}</a></span>
      </div>
      <button type="button" class="btn btn-secondary btn-sm" v-on:click="test()">TEST</button>
    </footer>
  </div>
</template>

<script>
export default {
  name: 'Footer',
  data: function () {
    const data = {
      infoAppli: {
        copyright: '© 2020 copyright',
        href: 'https://camber.bzh/',
        textHref: 'MD'
      }
    }
    return data
  },
  mounted () {
    //this.test()
  },
  methods: {
    test: function () {
      //console.log(this)
      let heure = new Date();
      let time = heure.getHours()+":"+ heure.getMinutes()+":"+ heure.getSeconds();
      //console.clear()
      console.log(time)
      console.log(this.$store.state.session.token)
      //console.log(this.$data)
    },
  }
}
</script>

<style scoped>
.logo {
  width: 100px;
  height: 100px;
}
.h1, h1 {
  font-size: 2rem;
}
.h4, h4 {
  font-size: 1.25rem;
}
.h5, h5 {
  font-size: 1rem;
}
</style>
