<template>
  <form class="form-horizontal needs-validation form-popup" v-show="$store.state.form.animateur===true" @submit.prevent="this.saveAnimateur()">
    <h3>Animateur</h3>
    <div class="form-row">
      <div class="col-md-6">
        <div class="form-group row">
          <label class="control-label col-md-3">Nom</label>
          <input v-model="$store.state.formEc.content.nom" type="text" class="form-control col-md-9" placeholder="Nom" required>
          <div class="invalid-feedback">Veuillez compléter ce champ !</div>
        </div>
        <div class="form-group row">
          <label class="control-label col-md-3">Prénom</label>
          <input v-model="$store.state.formEc.content.prenom" type="text" class="form-control col-md-9" placeholder="Prénom" required>
          <div class="invalid-feedback">Veuillez compléter ce champ !</div>
        </div>
        <div class="form-group row">
          <label class="control-label col-md-3" for="mail">Mail</label>
          <input id="mail" v-model="this.$store.state.formEc.content.mail" type="email" class="form-control col-md-9" placeholder="mail" required>
          <div class="invalid-feedback">Veuillez compléter ce champ !</div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row">
          <label class="control-label col-md-3" for="adresse">Adresse</label>
          <input id="nom" v-model="this.$store.state.formEc.content.adresse" type="text" class="form-control col-md-9" placeholder="Adresse" required>
        </div>
        <div class="form-group row">
          <label class="control-label col-md-3" for="codePostal">Code postal</label>
          <input id="codePostal" v-model="this.$store.state.formEc.content.codePostal" type="text" class="form-control col-md-9" placeholder="Code postal" required>
        </div>
        <div class="form-group row">
          <label class="control-label col-md-3" for="commune">Commune</label>
          <input id="commune" v-model="this.$store.state.formEc.content.commune" type="text" class="form-control col-md-9" placeholder="Commune" required>
        </div>
        <div class="form-group row">
          <label class="control-label col-md-3" for="telephone">Téléphone</label>
          <input id="telephone" v-model="this.$store.state.formEc.content.telephone" type="tel" class="form-control col-md-9" placeholder="Téléphone" required>
        </div>
      </div>
    </div>

    <div class="form-row marginTop">
      <div class="col-md-12">
        <div class="form-group text-center">
          <button type="button" class="btn btn-danger btn-lg" @click="this.resetForm()">Annuler</button>
          <button type="submit" class="btn btn-success btn-lg">Valider</button>
        </div>
      </div>
    </div>
  </form>
</template>

<script>
import axios from 'axios'

export default {
  name: 'FormAnimateur',
  methods: {
    async saveAnimateur () {
      let self = this
      console.log(self.$store.state.formEc.content)
      self.$store.commit('setAjaxLoader', true)
      let response = null
      if(self.$store.state.formEc.mode == 'edit') {
        response = await axios.patch('http://localhost:3000/editAnimateur/:{id}', self.$store.state.formEc.content, { headers: { 'x-access-token': self.$store.state.session.token }})
      } else {
        response = await axios.post('http://localhost:3000/addAnimateur/', self.$store.state.formEc.content, { headers: { 'x-access-token': self.$store.state.session.token }})
      }
      if (response.status == 200) {
        console.log(response.data)
        self.$store.commit('setAjaxLoader', false)
        alert(response.data.msg)
        if (response.data.state === 1) {
          self.resetForm ()
          self.$store.dispatch('getEntity','animateurs')
        }
      } else {
        console.log(response.error)
      }
    },
    resetForm () {
      let tmpObj = {
        name: 'animateur',
        content: {},
        mode: 'add'
      }
      this.$store.commit('setFormEc',tmpObj)
      this.$store.commit('setStateForm', 'animateur')
    }
  }
}
</script>
