<template>
  <form id="FormAsso" name="FormAsso" class="form-horizontal needs-validation form-popup" v-show="this.$store.state.form.asso===true" @submit.prevent="this.addAsso()">
    <h3>Nouvelle association</h3>
    <div class="form-row">
      <div class="col-md-6">
        <div class="form-group row">
          <label class="control-label col-md-3">Nom</label>
          <input id="nom" name="nom" v-model="$store.state.formEc.content.nom" type="text" class="form-control col-md-9" placeholder="Nom" required>
          <div class="invalid-feedback">Veuillez compléter ce champ !</div>
        </div>
        <div class="form-group row">
          <label class="control-label col-md-3">Slogan</label>
          <input id="slogan" name="slogan" v-model="$store.state.formEc.content.slogan" type="text" class="form-control col-md-9" placeholder="Slogan" required>
          <div class="invalid-feedback">Veuillez compléter ce champ !</div>
        </div>
        <div class="form-group row">
          <label class="control-label col-md-3">Description</label>
          <textarea id="description" name="description" v-model="$store.state.formEc.content.description" class="form-control col-md-9" placeholder="Description" rows="2" cols="50"></textarea>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row">
          <label class="control-label col-md-3">Site internet</label>
          <input id="site" name="site" v-model="$store.state.formEc.content.site" type="text" class="form-control col-md-9" placeholder="Site internet">
        </div>
        <div class="form-group row">
          <label class="control-label col-md-3">Mail</label>
          <input id="mail" name="mail" v-model="$store.state.formEc.content.mail" type="text" class="form-control col-md-9" placeholder="Mail">
        </div>
        <div class="form-group row">
          <label class="control-label col-md-3">Logo</label>
          <!-- <input type="file" ref="file" class="col-md-9" placeholder="Logo"> -->
          <input id="logo" name="logo" type="file" ref="file" v-on:change="this.handleFileUpload()"/>
        </div>
        <div class="form-group row">
          <label class="control-label col-md-3">Description logo</label>
          <input id="descrLogo" name="descrLogo" v-model="$store.state.formEc.content.descrLogo" type="text" class="form-control col-md-9" placeholder="description logo">
        </div>
      </div>
    </div>

    <div class="form-row marginTop">
      <div class="col-md-12">
        <div class="form-group text-center">
          <button type="button" class="btn btn-danger btn-lg" @click="this.resetForm()">Annuler</button>
          <button type="submit" class="btn btn-success btn-lg">Valider</button>
        </div>
      </div>
    </div>

  </form>
</template>

<script>
export default {
  name: 'FormAsso',
  data: function () {
    return {
      file: ''
    }
  },
  mounted: function () {
    this.resetForm ()
  },
  methods: {
    addAsso () {
      // objet formData => attribut id et name sur chaque champ
      let myForm = document.getElementById('FormAsso');
      //console.log(myForm)
      let formData = new FormData(myForm);
      //console.log(formData)
      //console.log(formData.get('nom'))
      //console.log(formData.getAll('nom'))
      // this.file = this.$ref.file.files[0];     // recup fichier image
      for(let pair of formData.entries()) {
        console.log(pair[0]+ ', '+ pair[1]);
      }
    },
    resetForm () {
      let tmpObj = {
        name: 'asso',
        content: {},
        mode: 'add'
      }
      this.$store.commit('setFormEc',tmpObj)
      this.$store.commit('setStateForm', 'asso')
    },
    handleFileUpload () {
      //console.log(this.$refs)
      this.$store.state.formEc.content.logo = this.$refs.file.files[0];
      //console.log(this)
    }
  }
}
</script>
