<template>
  <form class="form-horizontal needs-validation form-popup" v-show="this.$store.state.form.adherent===true" @submit.prevent="this.addAdherent()">
    <h3>{{this.$store.state.formEc.title}}</h3>
    <div class="form-row">

      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="form-group row">
          <label class="control-label col-sm-2" for="nom">Nom</label>
          <input id="nom" v-model="this.$store.state.formEc.content.nom" type="text" class="form-control col-sm-10" placeholder="Nom" required>
          <div class="invalid-feedback">Veuillez compléter ce champ !</div>
        </div>
        <div class="form-group row">
          <label class="control-label col-sm-2" for="prenom">Prénom</label>
          <input id="prenom" v-model="this.$store.state.formEc.content.prenom" type="text" class="form-control col-sm-10" placeholder="Prénom" required>
          <div class="invalid-feedback">Veuillez compléter ce champ !</div>
        </div>
        <div class="form-group row">
          <label class="control-label col-sm-2" for="mail">Mail</label>
          <input id="mail" v-model="this.$store.state.formEc.content.mail" type="email" class="form-control col-sm-10" placeholder="mail" required>
          <div class="invalid-feedback">Veuillez compléter ce champ !</div>
        </div>
        <div class="form-group row">
          <label class="control-label col-sm-4" for="nomTuteur">Nom du responsable</label>
          <input id="nomTuteur" v-model="this.$store.state.formEc.content.nomTuteur" type="text" class="form-control col-sm-8" placeholder="Nom du responsable">
        </div>
        <div class="form-group row">
          <label class="control-label col-sm-4" for="prenomTuteur">Prénom du responsable</label>
          <input id="prenomTuteur" v-model="this.$store.state.formEc.content.prenomTuteur" type="text" class="form-control col-sm-8" placeholder="Prénom du responsable">
        </div>
        <div class="form-group row checkBlocMain">
          <h4>Activités</h4>
          <div class="checkBloc form-check">
            <div class="form-group form-check" v-for="item in this.$store.state.entity.activites" v-bind:key="item.id">
              <input type="checkbox" v-model="checkedItems" :id="item.id" :value="item.nom" v-bind:tarif="item.tarif" v-on:change="this.checkActivites()" style="word-wrap:keep-all">
              <label class="form-check-label labelCheckbox" :for="item.id">{{ item.nom }} ({{ item.tarif }} €)</label>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="form-group row">
          <label class="control-label col-sm-3" for="adresse">Adresse</label>
          <input id="nom" v-model="this.$store.state.formEc.content.adresse" type="text" class="form-control col-sm-9" placeholder="Adresse">
        </div>
        <div class="form-group row">
          <label class="control-label col-sm-3" for="codePostal">Code postal</label>
          <input id="codePostal" v-model="this.$store.state.formEc.content.codePostal" type="text" class="form-control col-sm-9" placeholder="Code postal">
        </div>
        <div class="form-group row">
          <label class="control-label col-sm-3" for="commune">Commune</label>
          <input id="commune" v-model="this.$store.state.formEc.content.commune" type="text" class="form-control col-sm-9" placeholder="Commune">
        </div>
        <div class="form-group row">
          <label class="control-label col-sm-3" for="telephone">Téléphone</label>
          <input id="telephone" v-model="this.$store.state.formEc.content.telephone" type="tel" class="form-control col-sm-9" placeholder="Téléphone">
        </div>
        <div class="form-group row">
          <label class="control-label col-sm-3" for="role">Rôle</label>
          <select id="role" class="form-control col-sm-9" title="Choisir un rôle" @click="this.$store.dispatch('getEntity','roles')">
            <!-- <option v-for="item in this.$store.state.entity.roles" v-bind:key="item.id" v-bind:value="item.id" v-on:click="this.selectListRole()">{{ item.nom }}</option> -->
            <option v-for="item in this.$store.state.entity.roles" v-bind:key="item.id" v-bind:value="item.id" >{{ item.nom }}</option>
          </select>
        </div>
        <div class="form-group row marginTop">
          <label class="control-label col-sm-6" for="montant">Montant</label>
          <input id="montant" v-model="this.$store.state.formEc.content.montant" type="text" class="form-control col-sm-4" readonly>
          <span>euros</span>
        </div>
        <div class="form-group row">
          <label class="control-label col-sm-6" for="multiPaiement">Paiement en </label>
          <input id="multiPaiement" v-model="this.$store.state.formEc.content.multiPaiement" type="number" class="form-control col-sm-4"><span>fois</span>
        </div>
        <div class="form-group row">
          <label class="control-label col-sm-6" for="montantMultiPaiement">{{ this.$store.state.formEc.content.multiPaiement }} chèque(s)</label>
          <input id="montantMultiPaiement" v-model="this.$store.state.formEc.content.montantMultiPaiement" type="text" class="form-control col-sm-4" readonly>
          <span>euros</span>
        </div>
      </div>

      <div class="form-row marginTop">
        <div class="col-md-12 row d-flex justify-content-center flex-nowrap">
          <div class="form-group">
            <button type="button" class="btn btn-danger btn-lg" @click="this.resetForm()">Annuler</button>
            <button type="submit" class="btn btn-success btn-lg">Valider</button>
            <button type="button" class="btn btn-secondary btn-lg" @click="this.test()">TEST</button>
          </div>
        </div>
      </div>
    </div>
  </form>

</template>

  <script>
  import axios from 'axios'
  import jsonAdherentModel from '@/store/adherent.json'

  export default {
    name: 'FormAdherent',
    data: function () {
      return {
        checkedItems: [],
        statusBtn: false,
        //multiPaiement: 3,
        //jsonAdherent: this.$store.state.formEc.content,
        msgUser: {
          state: false,
          typeMsg: 'warning',
          msg: 'Formulaire incomplet !'
        }
      }
    },
    mounted: function () {
      console.log(this.$store.state.formEc.content)
      this.$store.dispatch('getEntity','activites')
      this.$store.dispatch('getEntity','roles')
    },
    watch: {
      // à chaque fois que la valeur de l'input change, la fonction s'exécutera
      multiPaiement: function () {
        this.calculMultiPaiement()
      }
    },
    methods: {
      validForm () {
        console.log(this.$store.state.formEc.content);
        if (this.$store.state.formEc.content.nom.length === 0 || this.$store.state.formEc.content.prenom.length === 0 || this.$store.state.formEc.content.mail.length === 0) {
          this.msgUser.state=false
          this.msgUser.typeMsg='warning'
          this.msgUser.msg='Formulaire incomplet !'
        } else if ( this.$store.state.formEc.content.activites.length === 0) {
          this.msgUser.state=false
          this.msgUser.typeMsg='warning'
          this.msgUser.msg='Veuillez choisir au moins une activité !'
        } else {
          this.msgUser.state=true
          this.msgUser.typeMsg='succes'
          this.msgUser.msg='Formulaire OK !'
        }
        console.log(this.msgUser)
      },
      // ------------ sélection des activités depuis checkboxes
      checkActivites () {
        //console.log(event.target)
        //console.log(this.$store.state.formEc.content)
        var tmpArray = []
        var tmpMontant = this.$store.state.formEc.content.montant
        // -- clacul du montant total
        for (let i = 0; i < this.$store.state.entity.activites.length; i++) {
          if (this.$store.state.entity.activites[i].id == event.target.id) {
            //console.log(this.$store.state.entity.activites[i]);
            if (event.target.checked == true) {
              if(this.checkedItems.indexOf(this.$store.state.entity.activites[i].id) == -1) {
                tmpArray.push(this.$store.state.entity.activites[i].id)
              }
              tmpMontant += this.$store.state.entity.activites[i].tarif
            } else {
              let index = this.checkedItems.indexOf(this.$store.state.entity.activites[i].id);
              if (index > -1) {
                this.checkedItems.splice(index, 1);
              }
              tmpMontant -= this.$store.state.entity.activites[i].tarif
            }
          }
        }
        this.$store.state.formEc.content.activites = tmpArray
        this.$store.state.formEc.content.montant = tmpMontant
        this.calculMultiPaiement()
        //console.log(this.$store.state.formEc.content)
      },
      // ------------ calcul paiement en plusieurs fois
      calculMultiPaiement () {
        this.$store.state.formEc.content.montantMultiPaiement = (this.$store.state.formEc.content.montant / this.$store.state.formEc.content.multiPaiement).toFixed(2)
      },
/*    // ------------ sélection de fonction depuis liste déroulante
      selectListRole () {
        //console.log(event.target._value)
        this.$store.state.formEc.content.role = event.target._value
        let lockedRoles = [0, 1]
        if (lockedRoles.indexOf(this.$store.state.formEc.content.role) === -1) {
          this.statusBtn = true
        } else {
          this.statusBtn = false
        }
        // console.log(this.statusBtn);
      }, */
      // ------------ INSERT SQL
      async addAdherent () {
        // console.log(this);
        let self = this
        self.validForm()
        if (self.msgUser.state === false) {
          //this.$store.commit('updateDialogBox',self.msgUser);
          alert(self.msgUser.msg)
        } else {
          self.$store.commit('setAjaxLoader', true)
          let response = null
          if(self.$store.state.formEc.mode == 'edit') {
            response = await axios.patch('http://localhost:3000/editAdherent/', self.$store.state.formEc.content, { headers: { 'x-access-token': self.$store.state.session.token }})
          } else {
            response = await axios.post('http://localhost:3000/addAdherent/', self.$store.state.formEc.content, { headers: { 'x-access-token': self.$store.state.session.token }})
          }
          if (response.status == 200) {
            console.log(response.data)
            self.$store.commit('setAjaxLoader', false)
            alert(response.data.msg)
            if (response.data.state === 1) {
              self.resetForm()
              self.statusBtn = false
              self.calculMultiPaiement()
              self.$store.commit('setStateForm', 'adherent')
              self.$store.dispatch('getEntity','adherents')
            }
          } else {
            console.log(response.error)
          }
        }
      },
      resetForm () {
        //console.log(jsonAdherentModel)
        //console.log(this.$store.state.formEc.content)
        this.checkedItems = []
        Object.assign(this.$store.state.formEc.content, jsonAdherentModel)
        let tmpObj = {
          name: 'adherent',
          content: jsonAdherentModel,
          mode: 'add'
        }
        console.log(tmpObj)
        this.$store.commit('setFormEc',tmpObj)
        this.$store.commit('setStateForm', 'adherent')
      },
    }
  }
</script>

<style>
.checkBloc {
  column-count: 2;
  margin: 2px;
}
input[type=checkbox]{
  margin-right: 10px;
}
.checkBlocMain {
  display: block;
  background-color: #ced1d3;
}
select.form-control[multiple]{
  min-height: 150px;
}
.form-check {
  padding-left: 0.75rem;
}
</style>
