<template>
  <form class="form-horizontal needs-validation form-popup" v-show="this.$store.state.form.activite===true" @submit.prevent="this.saveActivite()">
    <h3>Activité</h3>
    <div class="form-row">
      <div class="col-md-6">
        <div class="form-group row">
          <label class="control-label col-md-3">Nom</label>
          <input v-model="this.$store.state.formEc.content.nom" type="text" class="form-control col-md-9" placeholder="Nom" required>
          <div class="invalid-feedback">Veuillez compléter ce champ !</div>
        </div>
        <div class="form-group row">
          <label class="control-label col-md-3">Description</label>
          <textarea v-model="this.$store.state.formEc.content.description" class="form-control col-md-9" placeholder="Description" rows="2" cols="50"></textarea>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row">
          <label class="control-label col-md-3">Tarif (euros)</label>
          <input v-model="this.$store.state.formEc.content.tarif" type="number" class="form-control col-md-9" placeholder="Tarif" required>
          <div class="invalid-feedback">Veuillez compléter ce champ !</div>
        </div>
        <div class="form-group row">
          <label class="control-label col-md-3">Responsable</label>
          <!-- https://stackoverflow.com/questions/51392719/set-initial-vuetify-v-select-value -->
          <select class="form-control col-md-9" title="Choisir un rôle" v-model="this.$store.state.formEc.content.animateur" required>
            <option v-for="item in this.$store.state.entity.animateurs" v-bind:key="item.id" v-bind:value="item.id" >{{ item.nom }} {{ item.prenom }}</option>
            <!-- <option v-for="item in this.$store.state.entity.animateurs" :selected="item === "this.$store.state.formEc.content.animateur"? true : false" v-bind:key="item.id" v-bind:value="item.id" >{{ item.nom }} {{ item.prenom }}</option> -->
          </select>
          <div class="invalid-feedback">Veuillez compléter ce champ !</div>
        </div>

      </div>
    </div>

    <div class="form-row marginTop">
      <div class="col-md-12">
        <div class="form-group text-center">
          <button type="button" class="btn btn-danger btn-lg" @click="this.resetForm()">Annuler</button>
          <button type="submit" class="btn btn-success btn-lg">Valider</button>
        </div>
      </div>
    </div>

  </form>
</template>

<script>
import axios from 'axios'

export default {
  name: 'FormActivite',
  mounted: function () {
    //console.log(this)
    //this.resetForm()
    this.$store.dispatch('getEntity','animateurs')
  },
  methods: {
    async saveActivite () {
      let self = this
      self.$store.commit('setAjaxLoader', true)
      let response = null
      if(self.$store.state.formEc.mode == 'edit') {
        response = await axios.patch('http://localhost:3000/editActivite/:{id}', self.$store.state.formEc.content, { headers: { 'x-access-token': self.$store.state.session.token }})
      } else {
        response = await axios.post('http://localhost:3000/addActivite', self.$store.state.formEc.content, { headers: { 'x-access-token': self.$store.state.session.token }})
      }
      if (response.status == 200) {
        console.log(response.data)
        self.$store.commit('setAjaxLoader', false)
        alert(response.data.msg)
        //if (response.data.state === 1) {
          self.resetForm()
          self.$store.dispatch('getEntity','activites')
        //}
      } else {
        console.log(response.error)
      }
    },
    resetForm () {
      let tmpObj = {
        name: 'activite',
        content: {},
        mode: 'add'
      }
      this.$store.commit('setFormEc',tmpObj)
      this.$store.commit('setStateForm', 'activite')
    }
  }
}
</script>
