<template>
  <div>
    <select class="form-control col-4" title="Choisir une saison" @click="this.setSaison()">
      <option>Filtrer sur une saison</option>
      <option v-for="(item,key) in saisons" v-bind:key="key" v-bind:value="item">{{ item }}</option>
    </select>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'ListSaisons',
  data: function () {
    return {
      saisons: [],
    }
  },
  mounted() {
    this.loadListSaisons()
  },
  methods: {
    setSaison() {
      console.clear()
      console.log(event.target.value)
      this.$store.commit('setSaisonFilter',event.target.value)
    },
    async loadListSaisons() {
      this.$store.commit('setAjaxLoader', true);
      let url = 'http://localhost:3000/getSaisons';
      let response = await axios.get(url,{ headers: { 'x-access-token': this.$store.state.session.token }})
      if (response.status == 200) {
        this.$store.commit('setAjaxLoader', false);
        //console.log(response)
        for (let i = 0; i < response.data.length; i++) {
          this.saisons.push(response.data[i].id)
        }
      } else {
        console.log(response.error)
      }
    }
	}
}
</script>

<style>
select {
  margin: 6px !important;
}
</style>
