<template>
  <div class="container">
    <!-- <nav class="row nav nav-pills nav-justified"> -->
    <nav class="row nav navbar navbar-expand-lg nav-pills nav-justified">
      <router-link class="nav-item" to="/">Accueil</router-link>
      <router-link class="nav-item" to="/adherents">Adhérents</router-link>
      <router-link class="nav-item" to="/activites">Activités</router-link>
      <router-link class="nav-item" to="/animateurs">Animateurs</router-link>
      <router-link class="nav-item" to="/mail">Envoi de mail</router-link>
      <router-link class="nav-item" to="/synthese">Synthèse</router-link>
      <router-link class="nav-item admin" to="/admin">Administration</router-link>
    </nav>
  </div>
</template>

<script>
export default {
  name: 'Navbar',
  mounted () {
    //this.test()
  },
  methods: {
    test: function () {
      console.log(this)
      console.log(this.$store)
      console.log(this.$data)
    },
  }
}
</script>

<style scoped>
.admin {
	background-color: grey;
	color: aliceblue;
}
.nav-item {
  white-space: nowrap;
}

</style>
