<template>
  <div class="row justify-content-center">
    <table>
      <thead>
        <tr>
          <th scope="col" v-for="(item,index) in this.colonnes" :key="index">{{ item }}</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item,index) in this.statistics" :key="index">
          <td>{{ item.nom }}</td>
          <td>{{ item.nb }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'TableSynthese',
  data: function () {
    return {
      colonnes: ['Activité', 'Nombre d\'adhérents'],
      statistics: []
    }
  },
  mounted: function () {
    //console.log(this)
    this.getStatistics()
  },
  methods: {
    async getStatistics () {
      //console.log(elt)
      let self = this
      let url = 'http://localhost:3000/getStatistics'
      let response = await axios.get(url,{ params: { saison: self.$store.state.saisonEc }, headers: { 'x-access-token': self.$store.state.session.token }})
      if (response.status == 200) {
        console.log(response)
        self.$store.commit('setAjaxLoader', false);
        self.statistics=response.data
        console.log(self.statistics)
        //context.commit('setEntity', { data: response.data, entity: elt });
      } else {
        console.log(response.error);
        alert('Session expirée !');
        self.$store.commit('setSession', null);
        self.router.push('/login');
      }
    },
  },
}
</script>

<style>
table: {

}
td {
  font-size: 14px;
}
tr {
  border:
}
</style>
