<template>
  <div id="BlocAdherents">
  <!-- <h3>Tableau des adhérents</h3> -->
    <ListSaisons />
    <table id="TableAdherents" class="table">
      <thead>
        <tr>
          <th scope="col" v-for="(item,index) in this.colonnes" :key="index">
            {{ item }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item,index) in this.$store.state.entity.adherents" :key="index">
          <td>{{ item.id }}</td>
          <td>{{ item.nom }}</td>
          <td>{{ item.prenom }}</td>
          <td>{{ item.mail }}</td>
          <td>{{ item.activites }}</td>
          <td>{{ item.saison }}</td>
          <!-- <td>{{ item.id_role }}</td> -->
          <!-- <td>{{ item.role }}</td> -->
          <td>
            <button type="button" class="btn btn-secondary" @click="this.reinscription(item)" v-show="this.$store.state.saisonFilter!==this.$store.state.saisonEc">Réinscription</button>
            <button type="button" class="btn btn-secondary" @click="this.editAdherent(item)" v-show="this.$store.state.saisonFilter==this.$store.state.saisonEc">Éditer</button>
            <button type="button" class="btn btn-danger" @click="this.deleteAdherent(item.id)">Archiver</button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</template>

<script>
import ListSaisons from '@/components/ListSaisons.vue';
import jsonAdherentModel from '@/store/adherent.json'

export default {
  name: 'TableAdherents',
  components: {
    ListSaisons
  },
  data: function () {
    return {
      colonnes: ['ID', 'Nom', 'Prénom', 'Mail', 'Activités', 'Saison', 'Action'],
      jsonAdherent: {}
    }
  },
  mounted: function () {
    //console.log(this)
    this.loadTableAdherents()
    Object.assign(this.jsonAdherent, jsonAdherentModel)
    console.log(this.jsonAdherent)
  },
  methods: {
    loadTableAdherents () {
      this.$store.dispatch('getEntity','adherents')
    },
    reinscription (obj) {
      //console.clear()
      //console.log("Réinscription adhérent !")
      alert("Fonctionnalité pas encore prête !")
      let context = {
        mode: 'reinscribe',
        title: 'Réinscription adhérent'
      }
      this.setJsonAdherent (obj,context)
    },
    editAdherent (obj) {
      //console.clear()
      //console.log("Edition adhérent !")
      let context = {
        mode: 'edit',
        title: 'Modifier adhérent'
      }
      this.setJsonAdherent (obj,context)
    },
    setJsonAdherent (obj,context) {
      //console.log(obj)
      Object.assign(this.jsonAdherent, jsonAdherentModel)
      for (const key in obj) {
          //console.log(`${key}: ${obj[key]}`);
          this.jsonAdherent[key]=obj[key]
      }
      console.log(this.jsonAdherent)
      let tmpObj = {
        name: 'adherent',
        title: 'Modifier adhérent',
        content: this.jsonAdherent,
        mode: 'edit'
      }
      this.$store.commit('setFormEc',tmpObj)
      this.$store.commit('setStateForm', 'adherent')
    },
    deleteAdherent (id) {
      console.log("SUPPR adhérent !")
      console.log(id)
      alert("Fonctionnalité pas encore disponible !")
    }
	}
}
</script>

<style>
#TableAdherents td, #TableAdherents th {
	padding: 0.25rem;
}
#TableAdherents td .btn {
  font-size: 0.85rem;
  padding: 0.25rem;
}
#TableAdherents td {
  font-size: 0.95rem;
}
</style>
