<template>
  <div>
    <table>
      <thead>
        <tr>
          <th scope="col" v-for="(item,index) in this.colonnes" :key="index">{{ item }}</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item,index) in this.$store.state.entity.animateurs" :key="index">
          <td>{{ item.id }}</td>
          <td>{{ item.nom }}</td>
          <td>{{ item.prenom }}</td>
          <td>{{ item.mail }}</td>
          <td>{{ item.adresse }}</td>
          <td>{{ item.codePostal }}</td>
          <td>{{ item.commune }}</td>
          <td>{{ item.telephone }}</td>
          <!-- <td>{{ item.activites }}</td> -->
          <td>
            <button type="button" class="btn btn-secondary" @click="this.editAnimateur(item)">Éditer</button>
            <button type="button" class="btn btn-danger" @click="this.deleteAnimateur(item.id)">Archiver</button>
          </td>
        </tr>
      </tbody>
    </table>
    <FormAnimateur/>
  </div>
</template>

<script>
import FormAnimateur from '@/components/FormAnimateur.vue'

export default {
  name: 'TableAnimateurs',
  components: {
    FormAnimateur,
  },
  data: function () {
    return {
      colonnes: ['id', 'nom', 'prenom', 'mail', 'adresse', 'code postal', 'commune', 'telephone', /* 'activités', */ 'actions'],
      //animateur: {}
    }
  },
  mounted: function () {
    //console.log(this)
    this.loadTableAnimateurs()
  },
  methods: {
    loadTableAnimateurs () {
      this.$store.dispatch('getEntity','animateurs')
    },
    editAnimateur (obj) {
      //console.log(obj)
      let tmpObj = {
        name: 'animateur',
        content: obj,
        mode: 'edit'
      }
      this.$store.commit('setFormEc',tmpObj)
      this.$store.commit('setStateForm', 'animateur')
    },
    deleteAnimateur (idTmp) {
      console.log("SUPPR animateurs !")
      console.log(idTmp)
      console.log(this)
    }
	}
}
</script>

<style>
td, .btn {
  margin: 2px;
  font-size: 10px;
  padding: 0.25rem !important;
}
td {
  font-size: 14px;
}
tr {
  border:
}
</style>
