<template>
  <div>
    <table>
      <thead>
        <tr>
          <th scope="col" v-for="(item,index) in this.colonnes" :key="index">{{ item }}</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item,index) in this.$store.state.entity.activites" :key="index">
          <td>{{ item.id }}</td>
          <td>{{ item.nom }}</td>
          <td>{{ item.animateur }}</td>
          <td>{{ item.tarif }}</td>
          <td>
            <button type="button" class="btn btn-secondary" @click="this.editActivite(item)">Éditer</button>
            <button type="button" class="btn btn-danger" @click="this.deleteActivite(item.id)">Archiver</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: 'TableActivites',
  data: function () {
    return {
      colonnes: ['id', 'nom', 'animateur', 'tarif', 'Action'],
    }
  },
  mounted: function () {
    //console.log(this)
    this.loadTableActivites()
  },
  methods: {
    //------------ chargement des activités
    loadTableActivites () {
      this.$store.dispatch('getEntity','activites')
    },
    editActivite (obj) {
      console.log(obj)
      let tmpObj = {
        name: 'activite',
        content: obj,
        mode: 'edit'
      }
      this.$store.commit('setFormEc',tmpObj)
      this.$store.commit('setStateForm', 'activite')
    },
    deleteActivite () {
      console.log("SUPPR activité !")
      console.log(this)
    }
	}
}
</script>

<style>
.btn {
  margin: 2px;
}
</style>
