<template>
  <div id="app">
    <div id="mask" v-show="$store.state.mask===true"></div>
    <AjaxLoader v-show="$store.state.ajaxLoader===true"></AjaxLoader>
    <EnTete></EnTete>
    <Navbar v-if="$store.state.session.token!==null"/>
    <router-view/>
    <Footer v-if="$store.state.session.token!==null"></Footer>
  </div>
</template>

<script>
import AjaxLoader from '@/components/AjaxLoader.vue'
import EnTete from '@/components/EnTete.vue'
import Navbar from '@/components/Navbar.vue'
import Footer from '@/components/Footer.vue'
//import 'bootstrap/dist/css/bootstrap.css'
//import 'bootstrap-vue/dist/bootstrap-vue.css'

export default {
  name: 'App',
  components: {
    AjaxLoader,
    EnTete,
    Navbar,
    Footer
  },
  mounted () {
    this.verifLogin();
    this.$store.commit('setSaisonEc');
    //console.log(this.infoAppli.slogan);
    //console.log(this.$store.state)
  },
  methods: {
    //------------ verif du login
    verifLogin(){
      //console.log(this)
      if(this.$store.state.session.token == null){
        //console.log("Non connecté");
        this.$router.replace({ name: "Login" });
        //this.$router.push("/login");
      } else {
        console.log("Connecté : "+this.$store.state.session.login);
      }
    },
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  background-color: #F5F5F5;
}
.container {
  border: 1px solid grey;
  max-width: 1260px;
}
.row {
  border: 1px dotted grey;
  padding: 10px;
}
/*.logo {
  width: 100px;
  height: 100px;
}
h1 img {
  padding: 10px;
}
.h1, h1 {
  font-size: 2rem;
}
.h4, h4 {
  font-size: 1.25rem;
}
.h5, h5 {
  font-size: 1rem;
} */
.bordure {
  border: 1px solid grey;
}
#page {
  min-height: 200px;
  /*  min-width: 100%;  */
}
nav a {
  background-color: orange;
  padding: 15px;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 10px 10px 10px 10px;
}
header, nav, .navbar, #page, footer {
  border: 1px solid grey !important;
  background-color: #ccc2c4 !important;
}
.small-span {
  font-size: 0.80rem;
  font-style: italic;
}
form {
  background-color: #F5F5F5;
  padding: 8px;
  border-radius: 3px;
}
form .row {
  border: 0;
  padding: 2px;
  margin: 2px 20px 2px 20px;
}
form span {
  margin-left: 15px;
}
.form-control:disabled {
  background-color: #a3a5a7;
  opacity: 1;
}
form label {
  font-size: 14px;
}
input, textarea{
  color: #151515 !important;
}
.marginTop {
  /* padding-top: 50px; */
  margin-top: 20px !important;
}
.ck-editor__editable {
    min-height: 200px;
}
/* Fond opaque pour popup maison */
#mask {
  z-index: 990;
  position: fixed;
  background-color: white;
  /* border: 1px solid red; */
  /* display: none; */
  min-width: 100%;
  min-height: 100%;
  opacity: 0.7;
}
/* formulaire aspect popup en attendant un framework CSS supporté */
.form-popup {
  z-index: 999;
  position: fixed;
  top: 10%;
  max-height: 80%;
  min-height: 60%;
  left: 10%;
  width: 80%;
  overflow: auto;
  border: 2px solid grey;
  border-radius: 7px;
}
</style>
